
#body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0,0%,95%);
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 15px; 
    max-width: 1000px;
    width: 50%; /* Adjust as needed */
    overflow: hidden;
    position: relative;
    cursor: none;

    /* Centering */
    margin: auto; 
    display: block; /* Ensures margin:auto works */
}

/*the display looks & mechanics*/
#display{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0,0%,20%);
    color: white;
    cursor: none;
}

/*the key looks & mechanics*/
#keys{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    padding: 25px;
    cursor: none;
}

/*the button looks & mechanics*/
button{
    width: 60px; 
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: none;
}

button:hover{
    background-color: hsl(0,0%,40%);
}

button:active{
    background-color: hsl(0,0%,50%);
}

.operator-btn{
    background-color: hsl(25,100%,55%);
}

.operator-btn:hover{
    background-color: hsl(25,100%,65%);
}

.operator-btn:active{
    background-color: hsl(25,100%,75%);
}

.advanced-operator-btn{
    background-color: 	hsl(120, 100%, 40%);
}

.advanced-operator-btn:hover{
    background-color: hsl(120, 100%, 50%);
}

.advanced-operator-btn:active{
    background-color: hsl(120, 100%, 60%);
}

.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: white;
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0 ,0% ,100% ,0.5);
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}



html {
  /* overflow: hidden; */
  background: #123;
}

 body, head {
  display: flex;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 2.1068577004em 0.0481621517em 7px hsla(223.0474561353, 100%, 50%, 0.9), -0.1357893879em 0.0057075024em 7px hsla(15.1441918074, 100%, 50%, 0.9), -0.0138914465em 0.3100680354em 7px hsla(28.2040702365, 100%, 50%, 0.9), -0.3276192998em 1.7753575489em 7px hsla(54.6302854349, 100%, 50%, 0.9), 0.5416493659em 0.8114103328em 7px hsla(265.087675599, 100%, 50%, 0.9), 1.2169571844em 1.5526997463em 7px hsla(72.6700997028, 100%, 50%, 0.9), 0.2754004728em 0.4567647429em 7px hsla(228.0646574266, 100%, 50%, 0.9), 0.1643380382em -0.4957078918em 7px hsla(53.5463814242, 100%, 50%, 0.9), 2.4716683121em 1.847658185em 7px hsla(68.2144126172, 100%, 50%, 0.9), 2.1345976927em 0.844372201em 7px hsla(288.4825765663, 100%, 50%, 0.9), 1.9624607904em 1.9022127967em 7px hsla(292.5286592104, 100%, 50%, 0.9), 1.2015392377em -0.2928603954em 7px hsla(62.2863296325, 100%, 50%, 0.9), 1.732633059em 0.6802209483em 7px hsla(9.1193330059, 100%, 50%, 0.9), 0.3961486277em 1.3739964374em 7px hsla(350.2606701583, 100%, 50%, 0.9), -0.2433667959em 1.9773684436em 7px hsla(339.7888562107, 100%, 50%, 0.9), -0.1483487234em 0.3576823416em 7px hsla(233.2969500421, 100%, 50%, 0.9), 1.6331520157em 2.0942618155em 7px hsla(47.6587038978, 100%, 50%, 0.9), 1.0026194408em 2.2052228251em 7px hsla(29.8932603122, 100%, 50%, 0.9), 1.4931231796em 1.7075967833em 7px hsla(257.7405723031, 100%, 50%, 0.9), 1.2981985468em 0.5815819909em 7px hsla(151.2054640938, 100%, 50%, 0.9), 1.3817529409em 2.273405965em 7px hsla(283.7546906978, 100%, 50%, 0.9), 0.6679826771em 2.3142807553em 7px hsla(301.8926354905, 100%, 50%, 0.9), 2.4649441925em 0.2040012214em 7px hsla(347.3606247948, 100%, 50%, 0.9), -0.4449060639em 1.2539280887em 7px hsla(59.3447426805, 100%, 50%, 0.9), 0.2468262317em 1.3851418644em 7px hsla(283.0001022138, 100%, 50%, 0.9), 1.3334951255em 0.2417707732em 7px hsla(61.5474930574, 100%, 50%, 0.9), 2.358619298em 0.4045315678em 7px hsla(343.5693150584, 100%, 50%, 0.9), 1.9523928429em 0.1637162385em 7px hsla(25.8179132929, 100%, 50%, 0.9), -0.1268470737em 1.6871410783em 7px hsla(59.8535826626, 100%, 50%, 0.9), 1.0200425631em -0.0739502094em 7px hsla(330.3897131997, 100%, 50%, 0.9), 2.3730436203em 2.0389371321em 7px hsla(72.6088362142, 100%, 50%, 0.9), 1.4913803327em 0.1464505234em 7px hsla(307.1234579699, 100%, 50%, 0.9), -0.4030220885em -0.444160042em 7px hsla(123.5125217935, 100%, 50%, 0.9), 0.3943769177em 2.3669191363em 7px hsla(92.9644623845, 100%, 50%, 0.9), 0.6478280453em 1.6640980028em 7px hsla(269.0602568997, 100%, 50%, 0.9), 1.4346096407em 1.5475210095em 7px hsla(282.6529782613, 100%, 50%, 0.9), 2.2477155499em 0.3863936939em 7px hsla(163.3312011873, 100%, 50%, 0.9), 1.9925435491em -0.0509404445em 7px hsla(314.0827350983, 100%, 50%, 0.9), 1.3146264755em 1.6361741849em 7px hsla(221.8205176777, 100%, 50%, 0.9), 0.5883207794em 0.762709856em 7px hsla(4.1966576325, 100%, 50%, 0.9), 0.9603448217em 0.2454904047em 7px hsla(290.6798123445, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 2.4800707942em 1.9686508611em 7px hsla(280.6257070367, 100%, 50%, 0.9), -0.3514173866em 2.4692104624em 7px hsla(158.5796429758, 100%, 50%, 0.9), 1.8922430003em 1.7212363501em 7px hsla(8.9220772585, 100%, 50%, 0.9), 0.5026429645em 1.6680237951em 7px hsla(20.9868858285, 100%, 50%, 0.9), -0.0836222483em -0.380865519em 7px hsla(114.0559160413, 100%, 50%, 0.9), 2.3060468569em 1.9295672568em 7px hsla(207.4758067899, 100%, 50%, 0.9), 0.9728149643em 0.5885193461em 7px hsla(95.8411386748, 100%, 50%, 0.9), 2.4624962416em 1.7699010875em 7px hsla(145.3454025706, 100%, 50%, 0.9), 0.2019389678em 1.1299225721em 7px hsla(61.5988228688, 100%, 50%, 0.9), 0.4200963727em -0.2753648296em 7px hsla(293.5103796068, 100%, 50%, 0.9), 1.0016365998em 0.3299830298em 7px hsla(67.4925182441, 100%, 50%, 0.9), 1.7777228366em 2.0599128788em 7px hsla(80.6399973707, 100%, 50%, 0.9), -0.268056533em -0.3062053107em 7px hsla(121.1015796723, 100%, 50%, 0.9), 0.3777500565em 1.6635261686em 7px hsla(230.2536672335, 100%, 50%, 0.9), 1.7322758362em 0.5533003567em 7px hsla(305.6299600963, 100%, 50%, 0.9), 2.1613823376em 2.4012570873em 7px hsla(288.8290579856, 100%, 50%, 0.9), 0.1376168904em -0.4872144543em 7px hsla(276.5128306078, 100%, 50%, 0.9), 0.3479036883em 0.3343042598em 7px hsla(203.5831242264, 100%, 50%, 0.9), 2.2160453277em 2.1793886102em 7px hsla(339.2120624533, 100%, 50%, 0.9), -0.406031448em -0.0022621779em 7px hsla(271.4519071418, 100%, 50%, 0.9), 0.0909728461em -0.0967056215em 7px hsla(348.5866172439, 100%, 50%, 0.9), 2.0760936938em 1.9748424279em 7px hsla(192.0276904852, 100%, 50%, 0.9), -0.490533105em 1.9561486307em 7px hsla(98.1052743164, 100%, 50%, 0.9), 0.7321882212em 0.015012751em 7px hsla(282.6912923597, 100%, 50%, 0.9), 0.8396101826em 1.3644149811em 7px hsla(105.1042123068, 100%, 50%, 0.9), 0.6140768081em -0.2305939151em 7px hsla(293.7946957586, 100%, 50%, 0.9), 1.1475770322em -0.3197590144em 7px hsla(42.1959378887, 100%, 50%, 0.9), 1.4412157677em 0.1170985313em 7px hsla(253.9000574056, 100%, 50%, 0.9), 2.2269491226em 1.4952866898em 7px hsla(314.4425989823, 100%, 50%, 0.9), 1.4935403612em 0.6674719166em 7px hsla(313.9903345164, 100%, 50%, 0.9), 1.2603084448em 1.6651781598em 7px hsla(19.1595184569, 100%, 50%, 0.9), 2.0057147898em 0.6882581969em 7px hsla(154.6290234811, 100%, 50%, 0.9), -0.4847439855em -0.3742743498em 7px hsla(68.1738238031, 100%, 50%, 0.9), -0.1971520887em 2.1588461855em 7px hsla(323.2771734433, 100%, 50%, 0.9), 1.7964057097em 1.2310550366em 7px hsla(152.7947718664, 100%, 50%, 0.9), 0.1347414682em 2.1739166062em 7px hsla(139.0390072698, 100%, 50%, 0.9), 0.3852622995em 1.9873765666em 7px hsla(357.845451527, 100%, 50%, 0.9), 1.191958807em 0.3523774687em 7px hsla(198.736639061, 100%, 50%, 0.9), 0.7152866009em 0.1186135535em 7px hsla(240.8078228357, 100%, 50%, 0.9), 1.1854608285em 1.5340766443em 7px hsla(281.0262778833, 100%, 50%, 0.9), -0.0831488532em 0.5552689111em 7px hsla(232.981346804, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.7877442617em 0.8165387956em 7px hsla(104.7454265879, 100%, 50%, 0.9), 0.9538811234em 2.4730369316em 7px hsla(319.7919868141, 100%, 50%, 0.9), 1.2271750761em -0.4685056991em 7px hsla(334.4662063603, 100%, 50%, 0.9), 1.1603229234em 1.0026006255em 7px hsla(208.6354608855, 100%, 50%, 0.9), 1.4722235448em 2.3642658412em 7px hsla(296.1845208097, 100%, 50%, 0.9), 0.2975614262em 0.6812748719em 7px hsla(348.3977011474, 100%, 50%, 0.9), 1.7295126354em 2.016674741em 7px hsla(219.5441703795, 100%, 50%, 0.9), 1.6223669049em 2.2359811372em 7px hsla(337.4483600304, 100%, 50%, 0.9), -0.0927197426em -0.0042720184em 7px hsla(35.3869229335, 100%, 50%, 0.9), -0.4322916698em -0.0079762194em 7px hsla(276.1826380219, 100%, 50%, 0.9), 0.4790358815em 2.453813942em 7px hsla(96.3978160043, 100%, 50%, 0.9), 1.7585971843em 1.6774374419em 7px hsla(173.3178017132, 100%, 50%, 0.9), -0.1125234758em -0.2963937659em 7px hsla(107.0928162278, 100%, 50%, 0.9), 2.2729859452em 2.2378924915em 7px hsla(130.1659877219, 100%, 50%, 0.9), 0.5841256068em 1.0347365779em 7px hsla(162.6836019133, 100%, 50%, 0.9), 0.716001125em 1.1377076949em 7px hsla(307.2637029434, 100%, 50%, 0.9), 0.0217331013em 0.919051133em 7px hsla(24.7901887774, 100%, 50%, 0.9), 1.135534127em 0.9213826258em 7px hsla(301.5383638897, 100%, 50%, 0.9), 2.1419938705em 2.1165603069em 7px hsla(46.439557537, 100%, 50%, 0.9), -0.0497301181em 0.6358852641em 7px hsla(286.4411495386, 100%, 50%, 0.9), -0.4084305737em 0.8593881322em 7px hsla(216.6209469863, 100%, 50%, 0.9), 1.0327560037em 0.5340131237em 7px hsla(165.5696590547, 100%, 50%, 0.9), 1.7204930423em -0.4906202144em 7px hsla(167.0285709013, 100%, 50%, 0.9), 2.1631766259em -0.418450984em 7px hsla(225.9655209995, 100%, 50%, 0.9), -0.2512709973em 1.5265537856em 7px hsla(148.5228315485, 100%, 50%, 0.9), 2.1743087041em 2.1942737367em 7px hsla(68.8006864993, 100%, 50%, 0.9), 0.1175099188em -0.0503451349em 7px hsla(224.8351858093, 100%, 50%, 0.9), 0.2785111607em -0.2409448164em 7px hsla(46.1515669857, 100%, 50%, 0.9), 2.489503904em 0.6247637871em 7px hsla(87.5916603946, 100%, 50%, 0.9), 0.8143629082em 1.4713127255em 7px hsla(126.9858817177, 100%, 50%, 0.9), 1.9600677987em 1.2165551547em 7px hsla(331.9784983189, 100%, 50%, 0.9), 0.6308569136em 2.3786645445em 7px hsla(251.1025351656, 100%, 50%, 0.9), 1.1421759581em 1.0490038616em 7px hsla(116.5650018375, 100%, 50%, 0.9), 1.2954011638em 1.9255223346em 7px hsla(139.8173420458, 100%, 50%, 0.9), 0.1193058248em -0.471449732em 7px hsla(286.902679508, 100%, 50%, 0.9), 2.1575427679em 2.1763817518em 7px hsla(74.9380103385, 100%, 50%, 0.9), -0.3824867524em 0.6348846102em 7px hsla(204.6742622219, 100%, 50%, 0.9), 0.1205661674em 0.5891317039em 7px hsla(121.6329965426, 100%, 50%, 0.9), 1.2476603831em 2.0991478394em 7px hsla(119.9552585703, 100%, 50%, 0.9), 0.6406869578em 2.183552557em 7px hsla(104.4990268183, 100%, 50%, 0.9), 0.4613877489em 1.0567711395em 7px hsla(52.4699285732, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 2.281432963em -0.0059988178em 7px hsla(173.2357150083, 100%, 50%, 0.9), 1.311966942em 0.8522026205em 7px hsla(32.6213691619, 100%, 50%, 0.9), 0.7878183262em 0.7048701439em 7px hsla(99.9328979342, 100%, 50%, 0.9), 0.502329512em 2.4527691287em 7px hsla(220.1328076939, 100%, 50%, 0.9), 0.9247483447em -0.2321088485em 7px hsla(20.0764580354, 100%, 50%, 0.9), 2.1836434569em 1.074126396em 7px hsla(169.9170874005, 100%, 50%, 0.9), -0.104765461em 0.150198375em 7px hsla(274.5055461982, 100%, 50%, 0.9), -0.1210986989em 0.9622794236em 7px hsla(200.2457352485, 100%, 50%, 0.9), -0.3814674717em 0.5506716489em 7px hsla(327.9906776333, 100%, 50%, 0.9), 1.6742676624em 0.0150840812em 7px hsla(54.6588580637, 100%, 50%, 0.9), 0.2251839127em 1.2111472616em 7px hsla(143.9039806882, 100%, 50%, 0.9), 0.5690761871em 2.0271837415em 7px hsla(140.6894978376, 100%, 50%, 0.9), 1.7076804859em 2.2694816235em 7px hsla(57.8018178474, 100%, 50%, 0.9), 0.2372820316em -0.4392475818em 7px hsla(312.697201118, 100%, 50%, 0.9), 0.9252667319em 1.1218882245em 7px hsla(195.0177300714, 100%, 50%, 0.9), 0.7285498643em 1.0878682356em 7px hsla(67.4061334598, 100%, 50%, 0.9), 0.5350801732em 0.7530926876em 7px hsla(191.983325705, 100%, 50%, 0.9), -0.0306331668em 1.5555033906em 7px hsla(14.5445488239, 100%, 50%, 0.9), 0.366651389em 2.3330996144em 7px hsla(253.581793002, 100%, 50%, 0.9), 0.3542378137em 2.49433804em 7px hsla(322.3496098281, 100%, 50%, 0.9), 1.4538325314em 2.3808357879em 7px hsla(242.6576041969, 100%, 50%, 0.9), -0.2943477805em 2.4139791508em 7px hsla(23.3221711077, 100%, 50%, 0.9), 1.4534429217em 1.6106846364em 7px hsla(238.9926652296, 100%, 50%, 0.9), 1.9875638918em 1.8396464801em 7px hsla(172.9004034694, 100%, 50%, 0.9), 1.974192416em 0.4988464074em 7px hsla(52.4451100463, 100%, 50%, 0.9), 2.0688340672em 1.1052275168em 7px hsla(36.7152480868, 100%, 50%, 0.9), 0.6740511527em 0.9336339297em 7px hsla(258.1223486658, 100%, 50%, 0.9), 0.2822378489em 1.0457590092em 7px hsla(283.2637180868, 100%, 50%, 0.9), 0.0208515175em -0.3444494339em 7px hsla(304.152845245, 100%, 50%, 0.9), 0.3015265112em -0.0198610879em 7px hsla(51.1858299531, 100%, 50%, 0.9), -0.3199479527em 2.4570180803em 7px hsla(187.4310691708, 100%, 50%, 0.9), 1.2255576544em 1.0021713688em 7px hsla(291.5383040585, 100%, 50%, 0.9), 2.3092315059em 0.7774146692em 7px hsla(193.2898112033, 100%, 50%, 0.9), 0.86911627em 0.4175710807em 7px hsla(139.8899767883, 100%, 50%, 0.9), 0.7504029744em 1.3945624796em 7px hsla(137.8599497973, 100%, 50%, 0.9), 2.0063959671em 2.3027401018em 7px hsla(315.2106652101, 100%, 50%, 0.9), 1.6404938907em 2.3696613196em 7px hsla(69.874911675, 100%, 50%, 0.9), 0.5352009344em 2.169982984em 7px hsla(70.0931399524, 100%, 50%, 0.9), 0.3453631171em 0.6103176427em 7px hsla(28.4540753047, 100%, 50%, 0.9), 1.1727942585em 1.8235674008em 7px hsla(227.2950658967, 100%, 50%, 0.9), 1.313979741em 1.591901495em 7px hsla(33.3980190697, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=styles.css.map  */ 